<!-- footer -->
<footer class="footer">
    <section class="sponsor_wrap">
        <ul>
            <li><a href="#a"><img src="/assets/img/footer/sponsor_01.png" alt=""></a></li>
            <li><a href="#a"><img src="/assets/img/footer/sponsor_02.png" alt=""></a></li>
            <li><a href="#a"><img src="/assets/img/footer/sponsor_03.png" alt=""></a></li>
            <li><a href="#a"><img src="/assets/img/footer/sponsor_04.png" alt=""></a></li>
            <li><a href="#a"><img src="/assets/img/footer/sponsor_05.png" alt=""></a></li>
            <li><a href="#a"><img src="/assets/img/footer/sponsor_01.png" alt=""></a></li>
            <li><a href="#a"><img src="/assets/img/footer/sponsor_02.png" alt=""></a></li>
            <li><a href="#a"><img src="/assets/img/footer/sponsor_03.png" alt=""></a></li>
            <li><a href="#a"><img src="/assets/img/footer/sponsor_04.png" alt=""></a></li>
            <li><a href="#a"><img src="/assets/img/footer/sponsor_05.png" alt=""></a></li>
        </ul>
    </section>
</footer>
<!--// footer -->
</div>
<button class="btn __top"></button>

<!-- mobile nav -->
<aside class="side_nav">
    
</aside>
<!--// mobile nav -->

