
    <!-- header -->
    <header class="header">
        <section class="__top">
            <div class="inner">
                <p class="tit">한줄공지</p>
                <div class="text_slide">
                    <p>안전하게 입금 후 이용 하실 수 있도록 "우회 입금 서비스" 를 도입하였으며, 우회 입금 서비스를 이용하시고자 하는 회원님은 입금 전 공지사항 "OTC 코인 구매" 숙지 해주시기 바랍니다.</p>
                </div>
            </div>
        </section>
        <section class="gnb">
            <h1 class="logo"><a href="#a"><img src="assets/img/header/logo.png" alt="TOP CLEAR"></a></h1>
            <nav>
                <ul>
                    <li data-rel="sub1"><a href="#a">스포츠</a></li>
                    <li data-rel="sub2"><a href="#a">가상스포츠</a></li>
                    <li data-rel="sub3"><a href="#a">라이브카지노</a></li>
                    <li data-rel="sub4"><a href="#a">슬롯</a></li>
                    <li data-rel="sub5"><a href="#a">게임</a></li>
                    <li data-rel="sub6"><a href="#a">포커</a></li>
                    <li data-rel="sub7"><a href="#a">고객센터</a></li>
                    <li data-rel="sub8"><a href="#a">공지사항</a></li>
                </ul>
            </nav>
            <div class="sub_menu_bg">
                <div class="sub_menu_wrap">
                    <div class="sub_menu" id="sub1">
                        <a href="#a">
                            <img src="assets/img/header/sub_menu_img.png" alt="">
                            <span>버추얼 스포츠</span>
                        </a>
                        <a href="#a">
                            <img src="assets/img/header/sub_menu_img.png" alt="">
                            <span>버추얼 스포츠</span>
                        </a>
                        <a href="#a">
                            <img src="assets/img/header/sub_menu_img.png" alt="">
                            <span>버추얼 스포츠</span>
                        </a>
                        <a href="#a">
                            <img src="assets/img/header/sub_menu_img.png" alt="">
                            <span>버추얼 스포츠</span>
                        </a>
                    </div>
                    <div class="sub_menu" id="sub2">
                        <a href="#a">
                            <img src="assets/img/header/sub_menu_img.png" alt="">
                            <span>버추얼 스포츠</span>
                        </a>
                        <a href="#a">
                            <img src="assets/img/header/sub_menu_img.png" alt="">
                            <span>버추얼 스포츠</span>
                        </a>
                        <a href="#a">
                            <img src="assets/img/header/sub_menu_img.png" alt="">
                            <span>버추얼 스포츠</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="user_wrap">
                <div class="user_box">
                    <div class="user_state">
                        <span class="user_name"><b>USER</b>님</span>
                        <button class="logout">로그아웃</button>
                    </div>                    
                    <div class="money_box">
                        <span>0</span>
                    </div>
                </div>
                <ul class="user_link">
                    <li class="my">
                        <a href="#a">
                            <img src="assets/img/header/ico_lock.png" alt="">
                            <span>My</span>
                        </a>
                    </li>
                    <li class="post">
                        <a href="#a">
                            <img src="assets/img/header/ico_mail.png" alt="">
                            <em>7</em>
                            <span>쪽지함</span>
                        </a>
                    </li>
                    <li class="bookmark">
                        <a href="#a">
                            <img src="assets/img/header/ico_bookmark.png" alt="">
                            <em>7</em>
                            <span>즐겨찾기</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </header>
    <!--// header -->
    <script>
        $('nav li').mouseenter(function () {
            var tg = $(this).attr('data-rel');
            $('.sub_menu').removeClass('on');
            $('#'+tg).addClass('on');
        });
        $('.sub_menu_bg').mouseleave(function () {
            $('.sub_menu').removeClass('on');
        });
    </script>