.button_a {
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #ff6611;
        color:#fff;
        position: absolute;
        top:0;
        left:0;
        position: relative;
        overflow: hidden;        
    }
    &:hover {
        span {
            background-color: rgb(255, 122, 50);
        }    
    }
    &:active {
        span {
            top:3px;
        }    
    }
} 
.button_b {
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #121212;
        color:#fff;
        position: absolute;
        top:0;
        left:0;
        position: relative;
        overflow: hidden;        
    }
    &:hover {
        span {
            background-color: rgba(18, 18, 18,.5);
        }    
    }
    &:active {
        span {
            top:3px;
        }    
    }
} 
.btn_border {
    position: relative;        
    span {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;        
        border: 1px solid #fff;
        color:#fff;
        position: absolute;
        top:0;
        left:0;
        position: relative;
        overflow: hidden;  
    }
    &:hover {
        text-decoration: none;
        span {
            border: 1px solid #ff6611;
            background-color: rgb(255, 122, 50);
        }
    }
    &:active {
        span {
            top:3px;
        }    
    }
}