.header {
    &.sticky {
        position: fixed;
        top:0;
        z-index: 100;
        width: 100%;
        .__top {
            display: none;
        }
        .gnb .sub_menu_bg {
            top:130px;
        }
    }
    .__top {
        background-color: #555;
        .inner {
            width: 1296px;
            height: 40px;
            margin:0 auto;
            display: flex;
            align-items: center;
            padding:0 15px;
        }
        .tit {
            width: 95px;
            padding-right: 30px;
            background: url(../img/header/ico_notice.png) no-repeat 66px 50% / 24px;
            font-size: 16px;
            color:#fff;
        }
        .text_slide {
            width:calc(100% - 105px);
            height: 40px;
            overflow:hidden;
            position:relative;
            display: flex;
            align-items: center;
            p:hover {
                animation-play-state: paused;
            }
            p:after {
                content:"";
                white-space:nowrap;
                padding-right:50px;
            }
            p {
                margin:0;
                padding-left:100%;
                display:inline-block;
                white-space:nowrap;
                line-height: 40px;
                font-size: 14px;
                color:#fff;
                animation-name:marquee;
                animation-timing-function:linear;
                animation-duration:20s;
                animation-iteration-count:infinite;
            }
        }
        @keyframes marquee {
            from   { transform: translate(0%);}
            99%,to { transform: translate(-100%);}
        }
    }
    .gnb {
        background-color: #333;
        min-width: 1600px;
        max-width: 1920px;
        height: 132px;
        margin:0 auto;
        display: flex;
        align-items: center;
        padding-left: 90px;
        padding-right: 40px;
        position: relative;
        .logo {
            img {
                width: 101px;
            }
        }
        nav {
            font-size: 20px;
            font-weight: 700;
            ul {
                display: flex;
                align-items: center;
                padding:0 30px;
            }
            li > a {
                margin:0 25px;
                color:#fff;
                position: relative;
            }
        }
        .sub_menu_bg {
            width: 100%;
            position: fixed;
            left: 0;
            top:170px;
            background-color: #fff;
            z-index: 10;
            .sub_menu_wrap {
                max-width: 1920px;
                min-width: 1600px;
                margin:0 auto;
            }
        }
        .sub_menu {
            margin-left: 220px;
            display: none;
            &.on {
                display: flex;
                padding:40px 0;
            }
            a {
                position: relative;
                margin-right: 35px;
                overflow: hidden;
                &:hover img {
                    transition: all .5s;
                    transform: scale(1.2);
                }
                img {
                    width: 100%;
                }
                span {
                    position: absolute;
                    left:0;
                    bottom:0;
                    font-size: 16px;
                    color:#fff;
                    display: flex;
                    width: 100%;
                    height: 40px;
                    justify-content: center;
                    align-items: center;
                    background-color: #ff6611;
                }
            }
        }
        .user_wrap {
            display: flex;
            align-items: center;
            margin-left: auto;
            .user_box {
                width: 180px;
                text-align: center;
                .user_state {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .user_name {
                    color:#ff6611;
                    font-size: 16px;
                    margin:0 10px;
                    b {
                        font-weight: 700;
                    }
                }
                .logout {
                    background-color: transparent;
                    font-size: 14px;
                    color:#fff;
                    width: auto;
                    height: auto;
                    border: 0 solid #000;
                    padding:0;
                    margin:0 10px;
                    text-decoration: underline;
                }

                .money_box {
                    width: 180px;
                    height: 50px;
                    margin-top: 10px;
                    background: url(../img/header/bg_point.png) no-repeat 0 0 / cover;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding-right: 10px;
                    span {
                        font-size: 16px;
                        color:#fff;
                        &::before {
                            font-size: 16px;
                            content: "₩";
                            color:#fff;
                            margin-right: 2px;
                        }
                    }
                }    
            }
            .user_link {
                display: flex;
                margin-left: 15px;
                height: 80px;
                li {
                    text-align: center;
                    margin:0 15px;
                    position: relative;
                    img {
                        display: block;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);

                    }
                    a {
                        display: flex;
                        align-items: flex-end;
                        height: 80px;
                    }
                    span {
                        font-size: 14px;
                        color:#fff;
                    }
                    em {
                        display: flex;
                        justify-content:center;
                        align-items: center;
                        border-radius: 100%;
                        font-size: 12px;
                        font-weight: 700;
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        right:-5px;
                        top:-5px;
                    }
                }
                .my {
                    img {
                        width: 21px;
                        top: 0;
                    }
                }
                .post {
                    img {
                        width: 27px;
                        top: 5px;
                    }
                    em {
                        background-color: #ff6611;
                        color:#fff;
                    }
                }
                .bookmark {
                    img {
                        width: 21px;
                        top: 5px;
                    }
                    em {
                        background-color: #fff;
                        color:#ff6611;
                    }
                }

            }

        }
    }
}
@include mobile {
    .header {
        .__top {
            background-color: #555;
            .inner {
                width: 100%;
                height: 40px;
                margin:0 auto;
                display: flex;
                align-items: center;
                padding:0 15px;
            }
            .tit {
                width: 95px;
                padding-right: 30px;
                background: url(../img/header/ico_notice.png) no-repeat 66px 50% / 24px;
                font-size: 16px;
                color:#fff;
            }
            .text_slide {
                width:calc(100% - 105px);
                height: 40px;
                overflow:hidden;
                position:relative;
                display: flex;
                align-items: center;
                p:hover {
                    animation-play-state: paused;
                }
                p:after {
                    content:"";
                    white-space:nowrap;
                    padding-right:50px;
                }
                p {
                    margin:0;
                    padding-left:100%;
                    display:inline-block;
                    white-space:nowrap;
                    line-height: 40px;
                    font-size: 14px;
                    color:#fff;
                    animation-name:marquee;
                    animation-timing-function:linear;
                    animation-duration:20s;
                    animation-iteration-count:infinite;
                }
            }
            @keyframes marquee {
                from   { transform: translate(0%);}
                99%,to { transform: translate(-100%);}
            }
        }
        .gnb {
            background-color: #333;
            min-width: 1600px;
            max-width: 1920px;
            height: 132px;
            margin:0 auto;
            display: flex;
            align-items: center;
            padding-left: 90px;
            padding-right: 40px;
            .logo {
                img {
                    width: 101px;
                }
            }
            nav {
                font-size: 20px;
                font-weight: 700;
                ul {
                    display: flex;
                    align-items: center;
                    padding:0 30px;
                }
                a {
                    margin:0 25px;
                    color:#fff;
                }
            }
            .user_wrap {
                display: flex;
                align-items: center;
                margin-left: auto;
                .user_box {
                    width: 180px;
                    text-align: center;
                    .user_state {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .user_name {
                        color:#ff6611;
                        font-size: 16px;
                        margin:0 10px;
                        b {
                            font-weight: 700;
                        }
                    }
                    .logout {
                        background-color: transparent;
                        font-size: 14px;
                        color:#fff;
                        width: auto;
                        height: auto;
                        border: 0 solid #000;
                        padding:0;
                        margin:0 10px;
                        text-decoration: underline;
                    }

                    .money_box {
                        width: 180px;
                        height: 50px;
                        margin-top: 10px;
                        background: url(../img/header/bg_point.png) no-repeat 0 0 / cover;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        padding-right: 10px;
                        span {
                            font-size: 16px;
                            color:#fff;
                            &::before {
                                font-size: 16px;
                                content: "₩";
                                color:#fff;
                                margin-right: 2px;
                            }
                        }
                    }    
                }
                .user_link {
                    display: flex;
                    margin-left: 15px;
                    height: 80px;
                    li {
                        text-align: center;
                        margin:0 15px;
                        position: relative;
                        img {
                            display: block;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);

                        }
                        a {
                            display: flex;
                            align-items: flex-end;
                            height: 80px;
                        }
                        span {
                            font-size: 14px;
                            color:#fff;
                        }
                        em {
                            display: flex;
                            justify-content:center;
                            align-items: center;
                            border-radius: 100%;
                            font-size: 12px;
                            font-weight: 700;
                            position: absolute;
                            width: 22px;
                            height: 22px;
                            right:-5px;
                            top:-5px;
                        }
                    }
                    .my {
                        img {
                            width: 21px;
                            top: 0;
                        }
                    }
                    .post {
                        img {
                            width: 27px;
                            top: 5px;
                        }
                        em {
                            background-color: #ff6611;
                            color:#fff;
                        }
                    }
                    .bookmark {
                        img {
                            width: 21px;
                            top: 5px;
                        }
                        em {
                            background-color: #fff;
                            color:#ff6611;
                        }
                    }

                }

            }
        }
    }
}
