body {
	font-size: vw(22);
	-ms-overflow-style: none; 
    background: #333;
}
::-webkit-scrollbar { 
	display: none;
}
/* IE 에서 Select box 화살표 제거 */
select.select::-ms-expand {
	display: none;
}
input {
	outline: none;
}
button.btn {
	border: 0 none;
	background: transparent;
	cursor: pointer;
	outline: none;
	border-radius: vw(1);
}
a {
	text-decoration: none;
	color:#000;
	&:hover {
		text-decoration: underline;
	}
}
a.link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include link ( $full );
}
.noscroll {
	scrollbar-width: none;
    -ms-overflow-style: none;
}
.noscroll::-webkit-scrollbar {
    display: none;
}
input {
    display: flex;        
    align-items: center;
    border: 0 solid #000;
    &[type="button"] {
        justify-content: center;
    }
    &[type="password"] {
        font-family: dotum;
    }
    &[type="button"] {
        font-size: vw(20);        
        width: 100%;
        height: vw(60);
        color:#333;
        cursor: pointer;
    }
    &.text {
        font-size: vw(20);        
        width: 100%;
        height: vw(60);
        color:#333;
    }
}

.pc {
	display: none !important;
}
.m {
	display: block !important;
}
.pc_f {
	display: none !important;
}
.m_f {
	display: flex !important;
}
@include desktop {
    .m {
		display: none !important;
	}
	.pc {
		display: block !important;
	}
	.m_f {
		display: none !important;
	}
	.pc_f {
		display: flex !important;
	}

    button.btn {
        border-radius: 2px;
    }
    
    input {
        &[type="button"] {
            font-size: 18px;
            height: 60px;            
        }
        &.text {
            font-size: 18px;
            height: 60px;
        }
    }
    
}