@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  height: 100%;
  -webkit-text-size-adjust: none;
  font-family: "NanumSquare", dotum, "돋움", Arial, Sans-serif;
  font-size: 18px;
  color: #343A40;
}

body, input, select, button, textarea, h1, h2, h3, h4, h5, h6, table {
  line-height: 1.5;
  font: inherit;
  color: inherit;
}

html, body, div, form, input, select, button, textarea, legend, fieldset, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, blockquote, address, p, th, td, caption {
  margin: 0;
  padding: 0;
  font-style: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol, ul, li {
  list-style: none;
}

img, fieldset {
  vertical-align: middle;
  border: 0 none;
}

input, select, textarea {
  vertical-align: middle;
  -webkit-appearance: none;
  border-radius: 0;
}

hr {
  display: none;
}

legend, .hide {
  position: absolute;
  left: -9999px;
}

table caption {
  width: 0;
  height: 0;
  visibility: hidden;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption, main {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-5 {
  border: 0 solid;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 0 solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
  border: 1px solid;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.btn-a {
  overflow: hidden;
  position: relative;
}

.btn-a:after {
  background: #fff;
  content: "";
  height: 300%;
  left: -75%;
  opacity: .2;
  position: absolute;
  top: -100%;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
}

.btn-a:hover:after {
  left: 150%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

body {
  font-size: 3.4375vw;
  -ms-overflow-style: none;
  background: #333;
}

::-webkit-scrollbar {
  display: none;
}

/* IE 에서 Select box 화살표 제거 */
select.select::-ms-expand {
  display: none;
}

input {
  outline: none;
}

button.btn {
  border: 0 none;
  background: transparent;
  cursor: pointer;
  outline: none;
  border-radius: 0.15625vw;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

a.link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.noscroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.noscroll::-webkit-scrollbar {
  display: none;
}

input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0 solid #000;
}

input[type="button"] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input[type="password"] {
  font-family: dotum;
}

input[type="button"] {
  font-size: 3.125vw;
  width: 100%;
  height: 9.375vw;
  color: #333;
  cursor: pointer;
}

input.text {
  font-size: 3.125vw;
  width: 100%;
  height: 9.375vw;
  color: #333;
}

.pc {
  display: none !important;
}

.m {
  display: block !important;
}

.pc_f {
  display: none !important;
}

.m_f {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (min-width: 1024px) {
  .m {
    display: none !important;
  }
  .pc {
    display: block !important;
  }
  .m_f {
    display: none !important;
  }
  .pc_f {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  button.btn {
    border-radius: 2px;
  }
  input[type="button"] {
    font-size: 18px;
    height: 60px;
  }
  input.text {
    font-size: 18px;
    height: 60px;
  }
}

.main.__login {
  width: 100%;
  background: #333;
  padding: 10.9375vw 7.5vw 0;
  text-align: center;
}

.main.__login h1 {
  font-size: 6.25vw;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.15625vw;
}

.main.__login .logo {
  display: block;
  margin: 8.59375vw auto 0;
  width: 37.5vw;
}

.main.__login .login_form {
  margin-top: 12.5vw;
}

.main.__login .login_form input {
  padding-left: 6.25vw;
  color: #333;
  margin-bottom: 2.34375vw;
}

.main.__login .login_form input::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.main.__login .login_form input:-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.main.__login .login_form input::-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.main.__login .login_form input::placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.main.__login .login_form input:last-child {
  margin-bottom: 0;
}

.main.__login .login_form input.input_id {
  background: #fff url(../img/login/ico_id.svg) no-repeat 2.34375vw 50%/2.8125vw;
}

.main.__login .login_form input.input_pw {
  background: #fff url(../img/login/ico_pw.svg) no-repeat 2.8125vw 50%/2.03125vw;
}

.main.__login .login_form .btn_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff6611;
  padding-left: 0;
  color: #fff;
  font-size: 3.125vw;
  width: 100%;
  height: 9.375vw;
}

.main.__login .t1 {
  margin-top: 13.125vw;
  font-size: 5vw;
  letter-spacing: -0.125vw;
  font-weight: 400;
  color: #fff;
}

.main.__login .link {
  margin-top: 9.375vw;
  font-size: 3.125vw;
  border: 1px solid #fff;
  color: #fff;
  width: 28.90625vw;
  height: 9.375vw;
}

@media (min-width: 1024px) {
  .main.__login {
    width: 1000px;
    margin: 0 auto;
    padding: 110px 0 100px;
  }
  .main.__login h1 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.5px;
  }
  .main.__login .logo {
    display: block;
    margin: 55px auto 0;
    width: 240px;
  }
  .main.__login .login_form {
    width: 748px;
    margin: 80px auto 0;
    position: relative;
  }
  .main.__login .login_form input {
    width: 550px;
    padding-left: 40px;
    margin-bottom: 15px;
  }
  .main.__login .login_form input:last-child {
    margin-bottom: 0;
  }
  .main.__login .login_form input.input_id {
    background: #fff url(../img/login/ico_id.svg) no-repeat 15px 50%/18px;
  }
  .main.__login .login_form input.input_pw {
    background: #fff url(../img/login/ico_pw.svg) no-repeat 18px 50%/13px;
  }
  .main.__login .login_form .btn_login {
    position: absolute;
    right: 0;
    top: 0;
    width: 185px;
    height: 135px;
    background-color: #ff6611;
    font-size: 18px;
  }
  .main.__login .t1 {
    margin-top: 110px;
    font-size: 32px;
    letter-spacing: -0.8px;
  }
  .main.__login .link {
    margin-top: 60px;
    font-size: 18px;
    border: 1px solid #fff;
    color: #fff;
    width: 185px;
    height: 60px;
    text-decoration: none;
  }
}

.main.__join .__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7.8125vw 0 4.6875vw;
  border-bottom: 1px solid #fff;
}

.main.__join .__top h1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: center;
  font-size: 6.25vw;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.3125vw;
}

.main.__join .__top img {
  display: block;
  width: 18.75vw;
  margin: 0 auto 6.25vw;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.main.__join .join_form {
  padding: 4.6875vw 12.5vw;
}

.main.__join .join_form .join_form_box {
  position: relative;
  margin-bottom: 9.375vw;
}

.main.__join .join_form .join_form_box label {
  display: block;
  width: 100%;
  margin-bottom: 1.5625vw;
  font-size: 2.8125vw;
  color: #fff;
}

.main.__join .join_form .join_form_box label i {
  color: #ff6611;
}

.main.__join .join_form .join_form_box .text {
  padding: 0 3.125vw;
}

.main.__join .join_form .join_form_box.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main.__join .join_form .join_form_box.btn .text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.main.__join .join_form .join_form_box.btn button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2.8125vw;
  border: 0 solid #000;
  height: 9.375vw;
  width: 16.40625vw;
  background-color: #ff6611;
  color: #fff;
}

.main.__join .caution_wrap {
  padding: 7.8125vw 4.6875vw;
  color: #ff6611;
}

.main.__join .caution_wrap h2 {
  font-size: 3.125vw;
  margin-bottom: 6.25vw;
  position: relative;
  padding-left: 3.75vw;
}

.main.__join .caution_wrap h2::before {
  content: '';
  display: block;
  width: 3.125vw;
  height: 3.4375vw;
  background: url(../img/join/ico_caution.png) no-repeat 0 0/3.125vw;
  position: absolute;
  top: 0;
  left: 0;
}

.main.__join .caution_wrap li {
  font-size: 2.8125vw;
  margin-bottom: 1.5625vw;
}

.main.__join .btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9.375vw 0;
  border-top: 1px solid #fff;
}

.main.__join .btn_wrap .link {
  width: 22.65625vw;
  height: 9.375vw;
  background-color: #ff6611;
  border: 1px solid #ff6611;
  color: #fff;
  margin: 0 1.5625vw;
}

.main.__join .btn_wrap .link:hover {
  text-decoration: none;
}

.main.__join .btn_wrap button {
  width: 22.65625vw;
  height: 9.375vw;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .main.__join {
    width: 1000px;
    margin: 0 auto;
  }
  .main.__join .__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 60px 0 20px;
  }
  .main.__join .__top h1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
    font-weight: 700;
    color: #fff;
    letter-spacing: -1px;
    font-size: 40px;
  }
  .main.__join .__top img {
    display: block;
    width: 120px;
    margin: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main.__join .join_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 0 0;
  }
  .main.__join .join_form .join_form_box {
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-bottom: 30px;
  }
  .main.__join .join_form .join_form_box label {
    display: block;
    width: 115px;
    margin-bottom: 0;
    font-size: 16px;
    color: #fff;
  }
  .main.__join .join_form .join_form_box label i {
    color: #ff6611;
  }
  .main.__join .join_form .join_form_box .text {
    padding: 0 20px;
    width: 364px;
    font-size: 16px;
  }
  .main.__join .join_form .join_form_box.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 480px;
  }
  .main.__join .join_form .join_form_box.btn .text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    width: 205px;
  }
  .main.__join .join_form .join_form_box.btn button {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 16px;
    height: 60px;
    width: 145px;
  }
  .main.__join .caution_wrap {
    padding: 50px 0;
  }
  .main.__join .caution_wrap h2 {
    font-size: 20px;
    margin-bottom: 40px;
    padding-left: 24px;
  }
  .main.__join .caution_wrap h2::before {
    width: 20px;
    height: 22px;
    background: url(../img/join/ico_caution.png) no-repeat 0 0/20px;
  }
  .main.__join .caution_wrap ol {
    padding-left: 24px;
  }
  .main.__join .caution_wrap li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .main.__join .btn_wrap {
    padding: 45px 0;
    font-size: 18px;
  }
  .main.__join .btn_wrap .link {
    width: 145px;
    height: 60px;
    margin: 0 10px;
  }
  .main.__join .btn_wrap button {
    width: 145px;
    height: 60px;
  }
}
/*# sourceMappingURL=common.css.map */