.main.__join {
    .__top {
        display: flex;
        flex-direction: column;
        padding: vw(50) 0 vw(30);
        border-bottom: 1px solid #fff;
        h1 {
            order: 2;
            text-align: center;
            font-size: vw(40);
            font-weight: 700;
            color:#fff;
            letter-spacing: vw(-2);
        }
        img {
            display: block;
            width: vw(120);
            margin:0 auto vw(40);
            order: 1;
        }
    }
    .join_form {
        padding:vw(30) vw(80);
        .join_form_box {
            position: relative;
            margin-bottom: vw(60);
            label {
                display: block;
                width: 100%;
                margin-bottom: vw(10);
                font-size: vw(18);
                color:#fff;
                i {
                    color:#ff6611;
                }
            }
            .text {
                padding:0 vw(20);
                &.error {
                    border: 4px solid #db3444;
                }
            }
            &.btn {
                display: flex;
                flex-wrap: wrap;
                .text {
                    flex: 2;
                }
                button {
                    flex: 1;
                    font-size: vw(18);
                    border: 0 solid #000;
                    height: vw(60);
                    width: vw(105);
                    cursor: pointer;
                    background-color: transparent;
                }
            }
            .error_txt {
                color:#db3444;
                font-size: vw(20);
                text-align: left;
                margin: vw(10) 0;
                width: 100%;
            }
        }
    }
    .caution_wrap {
        padding:vw(50) vw(30);
        color:#ff6611;
        h2 {
            font-size: vw(20);
            margin-bottom: vw(40);
            position: relative;
            padding-left: vw(24);
            &::before {
                content: '';
                display: block;
                width: vw(20);
                height: vw(22);
                background: url(../img/join/ico_caution.png) no-repeat 0 0 / vw(20);
                position: absolute;
                top:0;
                left:0;
            }
        }
        li {
            font-size: vw(18);
            margin-bottom: vw(10);
        }
    }
    .btn_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding:vw(60) 0;
        border-top: 1px solid #fff;
        .link{
            width: vw(145);
            height: vw(60);
            margin:0 vw(10);
            &:hover {
                text-decoration: none;
            }
        }
        button {
            width: vw(145);
            height: vw(60);
            color:#fff;
            border: 0 solid #fff;
            background-color: transparent;
            cursor: pointer;
        }
    }
}

@include desktop {
    .main.__join {
        width: 1000px;
        margin:0 auto;
        .__top {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding: 60px 0 20px;
            h1 {
                order: 1;
                text-align: left;
                font-weight: 700;
                color:#fff;
                letter-spacing: -1px;
                font-size: 40px
            }
            img {
                display: block;
                width: 120px;
                margin:0;
                order: 2;
            }
        }
        .join_form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding:30px 0 0;
            .join_form_box {
                width: 48%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                position: relative;
                margin-bottom: 30px;
                padding-bottom: 20px;
                label {
                    display: block;
                    width: 115px;
                    margin-bottom: 0;
                    font-size: 16px;
                    color:#fff;
                    i {
                        color:#ff6611;
                    }
                }
                .text {
                    padding:0 20px;
                    width: 364px;
                    font-size: 16px;
                }
                &.btn {
                    display: flex;
                    flex-wrap: wrap;
                    width: 480px;
                    .text {
                        flex: 2;
                        width: 205px;
                    }
                    button {
                        flex: 1;
                        font-size: 16px;
                        height: 60px;
                        width: 145px;
                    }
                }
                .error_txt {
                    position: absolute;
                    left:115px;
                    top:70px;
                    font-size: 18px;
                    margin:0;
                }
            }
        }
        .caution_wrap {
            padding:50px 0;
            h2 {
                font-size: 20px;
                margin-bottom: 40px;
                padding-left: 24px;
                &::before {
                    width: 20px;
                    height: 22px;
                    background: url(../img/join/ico_caution.png) no-repeat 0 0 / 20px;
                }
            }
            ol {
                padding-left: 24px;
            }
            li {
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
        .btn_wrap {
            padding:45px 0;
            font-size: 18px;
            .link{
                width: 145px;
                height: 60px;
                margin:0 10px;
            }
            button {
                width: 145px;
                height: 60px;
            }
        }
    }
}