.main {
    .top_banner {
        max-width: 1920px;
        min-width: 1295px;
        margin:0 auto;
        overflow: hidden;
        position: relative;
        .paging {
            position: absolute;
            bottom:20px;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            z-index: 10;
        }
        .swiper-pagination {
            display: inherit;
            width: auto;
            position: static;
        }
        .swiper-pagination-bullet {
            margin:0 10px;
            width: 16px;
            height: 16px;
            background: url(../img/main/ico_off.png) no-repeat center / 8px;
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            margin:0 10px;
            width: 16px;
            height: 16px;
            background: url(../img/main/ico_on.png) no-repeat 0 0 / 99%;
            opacity: 1;
        }
        .count_num {
            font-size: 13px;
            color:#fff;
            margin-left: 10px;
        }
        .swiper-slide {
            img {
                width: 100%;
            }
        }
    }
    .main_cont {
        width: 1295px;
        margin:0 auto;
        padding-top: 40px;
        h2 {
            font-size: 40px;
            color:#fff;
            font-weight: 700;
        }
        .star_check {
            width: 19px;
            height: 18px;
            background: url(../img/main/check_star_off.png) no-repeat 50% / 19px;
            &:checked {
                background: url(../img/main/check_star_on.png) no-repeat 50% / 19px;
            }
        }
        .game_list {
            margin-top: 40px;
            ul {
                display: flex;
                width: 100%;
            }
            li {
                width: calc(100% / 5);
                border: 1px solid #929292;
                position: relative;
                .line{
                    display: block;
                }
                &::before, &::after{
                    content:"";
                    width: 0;
                    height: 7px;
                    position: absolute;
                    background: #ff6611;
                }
                .line::before, .line::after{
                    content:"";
                    width:7px;
                    height:0;
                    position: absolute;
                    background: #ff6611;
                }
                &:hover::before, &:hover::after{
                    transition: all 0.2s linear;
                    transition-delay: 0.2s;
                    width: 100%;
                }
                &:hover .line::before, &:hover .line::after{
                    transition: all 0.2s linear;
                    height: 100%;
                }
                .line::before, .line::after{
                    transition-delay: 0s;
                }
                &::before{
                    right: -1px;
                    top: -1px;
                }
                &::after{
                    left: -1px;
                    bottom: -1px;
                }
                .line::before{
                    left: -1px;
                    top: -1px;
                }
                .line::after{
                    right: -1px;
                    bottom: -1px;
                }
                &:hover::before, &:hover::after{
                    transition-delay: 0s;
                }
                &:hover .line::before, &:hover .line::after{
                    transition-delay: 0.2s;
                }
                .ico {
                    position: absolute;
                    right: 0;
                    top:-14px;
                    img {
                        width: 55px;
                        vertical-align: top;
                    }
                }
                // &:hover:before {
                //     content: '';
                //     background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
                //     position: absolute;
                //     top: -2px;
                //     left:-2px;
                //     background-size: 400%;
                //     z-index: -1;
                //     filter: blur(5px);
                //     width: calc(100% + 4px);
                //     height: calc(100% + 4px);
                //     animation: glowing 20s linear infinite;
                //     opacity: 0;
                //     transition: opacity .3s ease-in-out;
                //     border-radius: 10px;
                // }

                // &:active {
                //     color: #000
                // }

                // &:active:after {
                //     background: transparent;
                // }

                // &:hover:before {
                //     opacity: 1;
                // }

                // &:hover:after {
                //     z-index: -1;
                //     content: '';
                //     position: absolute;
                //     width: 100%;
                //     height: 100%;
                //     background: #111;
                //     left: 0;
                //     top: 0;
                //     border-radius: 10px;
                //     box-sizing: border-box;
                // }

                // @keyframes glowing {
                //     0% { background-position: 0 0; }
                //     50% { background-position: 400% 0; }
                //     100% { background-position: 0 0; }
                // }
                .top_box {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    color:#929292;
                    padding:10px 15px;
                    position: relative;
                    z-index: 10;
                    span {
                        margin-left: 10px;
                    }
                }
                .img_box {
                    img {
                        width: 100%;
                    }
                }
                .btm_box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 17px;
                    padding:15px 15px 10px;
                    color:#fff;
                    position: relative;
                    z-index: 10;
                    a {
                        font-size: 11px;
                        line-height: 19px;
                        color:#fff;
                        display: block;
                        text-align: center;
                        width: 41px;
                        height: 22px;
                        text-decoration: none;
                        background: url(../img/main/ico_info_off.png) no-repeat 50% / 41px 22px;
                        &:hover {
                            background: url(../img/main/ico_info_on.png) no-repeat 50% / 41px 22px;
                        }
                    }
                }
            }
        }

        .list_wrap {
            margin-top: 150px;
            display: flex;
            border-bottom: 1px solid #bbb;
            h2 {
                padding-bottom: 40px;
                border-bottom: 1px solid #bbb;
            }
            & > div {
                width: calc(100% / 3);
                position: relative;
                ul {
                    margin-top: 30px;
                    padding-right: 30px;
                }
            }
            .notice_box {
                color:#fff;
                ul {
                    border-right: 1px solid #777;
                    margin-bottom: 40px;
                }
                .link_more {
                    position: absolute;
                    right:45px;
                    top:0;
                    display: block;
                    width: 52px;
                    height: 52px;
                    img {
                        vertical-align: top;
                    }
                }
                li {
                    display: flex;
                    padding:20px 0;
                }
                a {
                    font-size: 20px;
                    color:#fff;
                    display: block;
                    width: 280px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &:hover {
                        text-decoration: none;
                    }
                    .text {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .title {
                    color:#7fcbed;
                }
                .notice {
                    .title {
                        color:#e9463f
                    }
                }
                .date {
                    margin-left: auto;
                    font-size: 14px;
                }
            }
            .realtime_wrap {
                h2 {
                    text-align: center;
                }
                .realtime {
                    overflow: hidden;
                    height: 365px;
                    margin-top: 40px;
                    padding-left: 30px;
                    padding-right: 30px;
                    padding-bottom: 20px;
                    border-right: 1px solid #777;
                    box-sizing: border-box;
                    ul {
                        margin-top: 7px;
                    }
                    li {
                        align-items: center;
                        & > div {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            height: 100%;
                        }
                    }
                    .date {
                        font-size: 14px;
                    }
                    span {
                        font-size: 20px;
                        color:#fff;
                    }
                    .swiper-slide-active {
                        margin-bottom: 20px;
                        & > div {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            width: 100%;
                            span {
                                color:#ff6611;
                                font-size: 32px;
                                font-weight: 700;
                                letter-spacing: -1px;
                            }
                            .date {
                                width: 100%;
                                margin-bottom: 17px;
                                color:#fff;
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
            .jackpot_wrap {
                h2 {
                    text-align: center;
                }
                .jackpot {
                    overflow: hidden;
                    height: 365px;
                    margin-top: 40px;
                    padding-left: 30px;
                    padding-bottom: 20px;
                    box-sizing: border-box;
                    ul {
                        margin-top: 7px;
                    }
                    li {
                        align-items: center;
                        .img {
                                display: none;
                            }
                        & > div {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            height: 100%;
                            
                        }
                    }
                    .date {
                        font-size: 14px;
                    }
                    span {
                        font-size: 20px;
                        color:#fff;
                    }
                    .swiper-slide-active {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        .img {
                                display: block;
                            }
                        & > div {
                            display: block;
                            text-align: right;
                            span {
                                display: block;
                                color:#ff6611;
                                font-size: 32px;
                                font-weight: 700;
                                letter-spacing: -1px;
                            }
                            .user_id {
                                color:#fff;
                                font-size: 14px;
                                font-weight: 400;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }

        .best_wrap {
            margin: 140px 0;
            h2 {
                padding-left:25px;
                background: url(../img/ico/ico_h3.png) no-repeat 0 50% / 23px;
            }
            h3 {
                display: inline-block;
                margin-top: 70px;
                background-color: #ff6611;
                border-radius: 24px;
                padding:15px 35px;
                color:#fff;
                font-size: 22px;
            }
            .game_wrap {
                position: relative;
                .link_more {
                    position: absolute;
                    right:0;
                    top:65px;
                }
            }
        }
    }
}

@include mobile {
    .main {
        
    }
}