.sub {
    .top_banner {
        max-width: 1920px;
        min-width: 1295px;
        margin:0 auto;
        overflow: hidden;
        position: relative;
        .paging {
            position: absolute;
            bottom:20px;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            z-index: 10;
        }
        .swiper-pagination {
            display: inherit;
            width: auto;
            position: static;
        }
        .swiper-pagination-bullet {
            margin:0 10px;
            width: 16px;
            height: 16px;
            background: url(../img/main/ico_off.png) no-repeat center / 8px;
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            margin:0 10px;
            width: 16px;
            height: 16px;
            background: url(../img/main/ico_on.png) no-repeat 0 0 / 99%;
            opacity: 1;
        }
        .count_num {
            font-size: 13px;
            color:#fff;
            margin-left: 10px;
        }
        .swiper-slide {
            img {
                width: 100%;
            }
        }
    }
    .sub_cont {
        width: 1295px;
        margin:0 auto;
        padding-top: 40px;
        h2 {
            font-size: 40px;
            color:#fff;
            font-weight: 700;
        }
        .star_check {
            width: 19px;
            height: 18px;
            background: url(../img/main/check_star_off.png) no-repeat 50% / 19px;
            &:checked {
                background: url(../img/main/check_star_on.png) no-repeat 50% / 19px;
            }
        }
        .game_list {
            margin-top: 20px;
            ul {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
            }
            li {
                width: calc(100% / 5);
                border: 1px solid #929292;
                position: relative;
                .line{
                    display: block;
                }
                &::before, &::after{
                    content:"";
                    width: 0;
                    height: 7px;
                    position: absolute;
                    background: #ff6611;
                }
                .line::before, .line::after{
                    content:"";
                    width:7px;
                    height:0;
                    position: absolute;
                    background: #ff6611;
                }
                &:hover::before, &:hover::after{
                    transition: all 0.2s linear;
                    transition-delay: 0.2s;
                    width: 100%;
                }
                &:hover .line::before, &:hover .line::after{
                    transition: all 0.2s linear;
                    height: 100%;
                }
                .line::before, .line::after{
                    transition-delay: 0s;
                }
                &::before{
                    right: -1px;
                    top: -1px;
                }
                &::after{
                    left: -1px;
                    bottom: -1px;
                }
                .line::before{
                    left: -1px;
                    top: -1px;
                }
                .line::after{
                    right: -1px;
                    bottom: -1px;
                }
                &:hover::before, &:hover::after{
                    transition-delay: 0s;
                }
                &:hover .line::before, &:hover .line::after{
                    transition-delay: 0.2s;
                }
                .ico {
                    position: absolute;
                    right: 0;
                    top:-14px;
                    img {
                        width: 55px;
                        vertical-align: top;
                    }
                }
                
                .top_box {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    color:#929292;
                    padding:10px 15px;
                    position: relative;
                    z-index: 10;
                    span {
                        margin-left: 10px;
                    }
                }
                .img_box {
                    img {
                        width: 100%;
                    }
                }
                .btm_box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 17px;
                    padding:15px 15px 10px;
                    color:#fff;
                    position: relative;
                    z-index: 10;
                    a {
                        font-size: 11px;
                        line-height: 19px;
                        color:#fff;
                        display: block;
                        text-align: center;
                        width: 41px;
                        height: 22px;
                        text-decoration: none;
                        background: url(../img/main/ico_info_off.png) no-repeat 50% / 41px 22px;
                        &:hover {
                            background: url(../img/main/ico_info_on.png) no-repeat 50% / 41px 22px;
                        }
                    }
                }
            }
        }
        .bookmark_wrap {
            margin: 70px 0;
            h2 {
                margin-bottom: 20px;
                padding-left:25px;
                background: url(../img/ico/ico_h3.png) no-repeat 0 50% / 23px;
            }
            .count_txt {
                text-align: right;
                font-size: 18px;
                color:#fff;
                span {
                    color:#ff6611;
                }
            }
        }
        .recent_games {
            margin: 70px 0;
            h2 {
                margin-bottom: 20px;
                padding-left:25px;
                background: url(../img/ico/ico_h3.png) no-repeat 0 50% / 23px;
            }
            .game_list {
                margin-top: 40px;
            }
            .game_wrap {
                position: relative;
                h3 {
                    display: inline-block;
                    margin-top: 70px;
                    background-color: #ff6611;
                    border-radius: 24px;
                    padding:15px 35px;
                    color:#fff;
                    font-size: 22px;
                }
                .link_more {
                    position: absolute;
                    right:0;
                    top:65px;
                }
            }
        }
    }
    .search_wrap {
        margin-top: 90px;
        display: flex;
        justify-content: center;
        .search_box {
            margin: 0;
        }
        select {
            width: 140px;
            padding:15px 20px;
            border: 1px solid #fff;
            font-size: 18px;
            color:#fff;
            background:transparent url(../img/ico/ico_down.png) no-repeat 90% 50% / 12px;
            margin-right: 25px;
        }
    }
    .search_box {
        width: 380px;
        margin:55px auto 0;
        position: relative;
        input {
            width: 100%;
            background-color: transparent;
            padding:15px 20px;
            border-bottom: 1px solid #fff;
            font-size: 18px;
            color:#fff;
            &::placeholder {
                color:#fff;
            }
        }
        button {
            background-color: transparent;
            border: 0 solid #000;
            position: absolute;
            right:0;
            top:0px;
            display: block;
            width: 50px;
            height: 51px;
            background: url(../img/ico/ico_search.png) no-repeat 50% 50%;
            cursor: pointer;
        }
    }
    .tab_menu {
        width: 100%;
        border-bottom: 1px solid #777;
        margin-top: 60px;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                width: 140px;
                font-size: 18px;
                position: relative;
                a {
                    display: block;
                    text-align: center;
                    padding:30px 0;
                    color:#fff;
                    &:hover {
                        text-decoration: none;
                        color:#ff6611;
                        &::after {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 2px;
                            background-color: #ff6611;
                            position: absolute;
                            left: 0;
                            bottom:-1px;
                        }
                    }
                }
                &.active {
                    a {
                        color:#ff6611;
                        &::after {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 2px;
                            background-color: #ff6611;
                            position: absolute;
                            left: 0;
                            bottom:-1px;
                        }
                    } 
                }
            }
        }
    }
    .top_visual {
        width: 100%;
        height: 440px;
        position: relative;
        background: url(../img/sub/sub_vis_01.png) no-repeat 50% 50%;
        .text_box {
            position: absolute;
            left:35%;
            top:50%;
            transform: translate(-50%,-50%);
            color:#fff;
            h2 {
                font-size: 40px;
                font-weight: 700;
                letter-spacing: -2px;
            }
            .t1 {
                font-size: 40px;
                font-weight: 300;
                letter-spacing: 10px;
                margin:10px 0 30px;
            }
            .t2 {
                font-size: 26px;
                letter-spacing: -1px;
            }
        }
    }
    .customer_center {
        width: 1296px;
        margin: 0 auto 80px;
        .guide_wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 80px;
            margin-bottom: 120px;
            li {
                width: 380px;
                height: 330px;
                text-align: center;
                border: 1px solid #777;
                position: relative;
                transition: all 0.7s ease-out;
                background: linear-gradient(270deg, rgba(39, 39, 39, 0.8), rgba(88, 43, 17, 0.8), rgba(34,34,34,0), rgba(34,34,34,0));
                background-position: 1% 50%;
                background-size: 300% 300%;
                padding-top: 227px;
                box-sizing: border-box;
                &:hover {
                    background-position: 99% 50%;
                }
                
                &:nth-child(-n + 3) {
                    margin-bottom: 80px;
                }
                a {
                    text-decoration: none;
                }
                .t1 {
                    font-size: 21px;
                    color:#ff6611;
                }
                .t2 {
                    margin-top: 20px;
                    font-size: 14px;
                    color:#fff;
                }
                img {
                    position: absolute;
                    left: 50%;
                    top:10%;
                    transform: translateX(-50%);
                }
            }
        }
        .faq_wrap {
            position: relative;
            .qna_list {
                margin-top: 40px;
                border-top: 1px solid #777;
                border-bottom: 1px solid #777;
                padding:40px 50px;
                li {
                    a {
                        display: inline-block;
                        font-size: 20px;
                        color:#fff;
                        text-decoration: none;
                        position: relative;
                        .category {
                            display: inline-block;
                            width: 260px;
                            & + span {
                                &::before {
                                    content: 'Q';
                                    color:#ff6611;
                                    font-weight: 700;
                                    margin-right: 20px;
                                }
                            }
                        }
                        &:hover {
                            &::after {
                                content: '';
                                display: block;
                                width: 100%;
                                height: 1px;
                                transform: translateY(5px);
                                background-color:#777;
                            }
                        }
                    }
                }
            }
            .link_more {
                position: absolute;
                right:0;
                top:0;
                display: block;
                width: 52px;
                height: 52px;
                img {
                    vertical-align: top;
                }
            }
        }
    }
    .inner_tab {
        width: 100%;
        margin-top: 50px;
        .selected {
            display: none;
        }
        ul {
            display: flex;
            border-bottom: 1px solid #ff6611;

            li {
                height: 51px;
                a {
                    display: inline-flex;
                    box-sizing: border-box;
                    vertical-align: top;
                    padding: 15px 40px;
                    text-align: center;
                    font-size: 18px;
                    color:#b6b6b6;
                    text-decoration: none;
                    border-top-left-radius: 12px;
                    border-top-right-radius: 12px;
                    &:hover {
                        color:#fff;
                        background-color: #ff6611;
                    }
                }
                &.active {
                    a {
                        color:#fff;
                        background-color: #ff6611;
                    }
                }
            }
        }
    }
    .system_cont {
        margin-top: 65px;
        .content_box {
            border: 1px solid #777;
            width: 100%;
            min-height: 500px;
        }
    }
    .faq_list_wrap {
        font-size: 18px;
        color:#fff;
        .__head {
            display: flex;
            width: 100%;
            border-bottom: 1px solid #777;
            span {
                text-align: center;
                padding:25px 0;
                box-sizing: border-box;
            }
            .num {
                width: 130px;
            }
            .category {
                width: 130px;
            }
            .subject {
                width: calc(100% - 260px);
                padding-left: 220px;
                text-align: left;
            }
        }
        .faq_list {
            li {
                .q {
                    width: 100%;
                    display: flex;
                    border-bottom: 1px solid #777;
                    background: url(../img/ico/ico_down_qna.png) no-repeat right 60px top 50% / 12px;
                    cursor: pointer;
                    &.open {
                        background: url(../img/ico/ico_up_qna.png) no-repeat right 60px top 50% / 12px;
                    }
                    span {
                        text-align: center;
                        padding:25px 0;
                        box-sizing: border-box;
                    }
                    .num {
                        width: 130px;
                    }
                    .category {
                        width: 130px;
                    }
                    .subject {
                        width: calc(100% - 260px);
                        padding-left: 80px;
                        text-align: left;
                    }
                }
                .a {
                    display: none;
                    &.open {
                        display: block;
                    }
                    .inner_text {
                        padding:40px;
                    }
                }
            }
        }
    }
    .notice_wrap {
        table {
            width: 100%;
            table-layout: fixed;
            th,
            td {
                border-bottom: 1px solid #777;
                text-align: center;
                padding:15px 0;
                font-size: 16px;
                color:#fff;
                font-weight: 300;
            }
            .subject {
                text-align: left;
            }
            th {
                &.subject {
                    padding-left: 260px;
                }
            }
            td {
                &.subject {
                    padding-left: 120px;
                    a {
                        color:#fff;
                        &:hover {
                            color:#ff6611;
                        }
                    }
                }
            }
            .num {
                width: 9%;
            }
            .category {
                width: 10%;
            }
            .subject {
                width: auto;
            }
            .date {
                width: 11%;
            }
            .view {
                width: 12%;
            }
            
        }
    }
    .paging {
        margin-top: 70px;
        display: flex;
        width: 100%;  
        justify-content: center;
        align-items: center;
        a {
            padding:10px;
            text-decoration: none;
            color:#fff;
            &.num {
                margin:0 10px;
                font-size: 16px;
                &.active,
                &:hover {
                    background-color: #ff6611;
                }
            }
        }
    }
    h3 {
        margin-top: 60px;
        text-align: center;
        font-size: 40px;
        letter-spacing: -2px;
        color:#fff;
    }
}

@include mobile {
    .sub {
        .top_banner {
            width: 100%;
            min-width: 100%;
            margin:0 auto;
            overflow: hidden;
            position: relative;
            .paging {
                display: none;
            }
            .swiper-slide {
                img {
                    width: 100%;
                }
            }
        }
        .sub_cont {
            width: 100%;
            margin:0 auto;
            padding-top: vw(20);
            h2 {
                font-size: vw(40);
            }
            .game_list {
                margin-top: vw(20);
                ul {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                }
                li {
                    width: 48%;
                    margin-bottom: 4%;
                    border: 1px solid #929292;
                    position: relative;
                    
                    .ico {
                        position: absolute;
                        right: 0;
                        top:vw(-14);
                        img {
                            width: vw(55);
                        }
                    }
                    .top_box {
                        font-size: vw(14);
                        padding:vw(10) vw(15);
                        span {
                            margin-left: vw(10);
                        }
                    }
                    .img_box {
                        img {
                            width: 100%;
                        }
                    }
                    .btm_box {
                        font-size: vw(17);
                        padding:vw(15) vw(15) vw(10);
                        a {
                            font-size: vw(11);
                            line-height: vw(19);
                            width: vw(41);
                            height: vw(22);
                            background: url(../img/main/ico_info_off.png) no-repeat 50% / vw(41) vw(22);
                            &:hover {
                                background: url(../img/main/ico_info_on.png) no-repeat 50% / vw(41) vw(22);
                            }
                        }
                    }
                }
            }
            .bookmark_wrap {
                margin: vw(20) 0;
                padding:vw(40);
                h2 {
                    padding-left:vw(25);
                    background: url(../img/ico/ico_h3.png) no-repeat 0 50% / vw(23);
                }
                .count_txt {
                    font-size: vw(18);
                }
                .game_wrap {
                    .link_more {
                        position: absolute;
                        right:0;
                        top:vw(75);
                        width: vw(52);
                        height: vw(52);
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .recent_games {
                margin: vw(50) 0;
                padding:0 vw(45);
                h2 {
                    margin-bottom: vw(20);
                    padding-left:vw(25);
                    background: url(../img/ico/ico_h3.png) no-repeat 0 50% / vw(23);
                }
                .game_list {
                    margin-top: vw(40);
                }
                .game_wrap {
                    position: relative;
                    h3 {
                        margin-top: vw(70);
                        padding:vw(15) vw(35);
                        font-size: vw(22);
                    }
                    .link_more {
                        position: absolute;
                        right:0;
                        top:vw(75);
                        width: vw(52);
                        height: vw(52);
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .search_wrap {
            margin-top: vw(90);
            display: flex;
            justify-content: center;
            width: 100%;
            padding:0 5%;
            .search_box {
                margin: 0;
            }
            select {
                width: vw(140);
                padding:vw(15) vw(20);
                font-size: vw(18);
                background:transparent url(../img/ico/ico_down.png) no-repeat 90% 50% / vw(12);
                margin-right: 25px;
            }
        }
        .search_box {
            width: 70%;
            margin:vw(55) auto 0;
            input {
                width: 100%;
                padding:vw(15) vw(20);
                font-size: vw(18);
            }
            button {
                width: vw(50);
                height: vw(51);
                background: url(../img/ico/ico_search.png) no-repeat 50% 50% / vw(20);
            }
        }
        .tab_menu {
            overflow: hidden;
            width: 100%;
            padding:0 vw(35);
            border-bottom: 0 solid #777;
            margin-top: vw(60);
            position: relative;
            &::after {
                content: '';
                display: block;
                width: 200%;
                height: 1px;
                background-color: #777;
                position: absolute;
                left:-50%;
                bottom:0;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                li {
                    border-bottom: 1px solid #777;
                    width: 30%;
                    font-size: vw(18);
                    position: relative;
                    &::after {
                        content: '';
                        display: block;
                        width: 200%;
                        height: 1px;
                        background-color: #777;
                        position: absolute;
                        left:-50%;
                        bottom:-1px;
                        z-index: -1;
                    }
                    &:nth-child(3n + 2) {
                        margin:0 5%;
                    }
                    a {
                        display: block;
                        text-align: center;
                        padding:vw(30) 0;
                        color:#fff;
                        &:hover {
                            text-decoration: none;
                            color:#ff6611;
                            &::after {
                                content: '';
                                display: block;
                                width: 100%;
                                height: 2px;
                                background-color: #ff6611;
                                position: absolute;
                                left: 0;
                                bottom:-1px;
                                z-index: 2;
                            }
                        }
                    }
                    &.active {
                        a {
                            color:#ff6611;
                            font-weight: 700;
                            &::after {
                                content: '';
                                display: block;
                                width: 100%;
                                height: 2px;
                                background-color: #ff6611;
                                position: absolute;
                                left: 0;
                                bottom:-1px;
                                z-index: 2;
                            }
                        } 
                    }
                }
            }
        } 
        .top_visual {
            height: vw(240);
            background: url(../img/sub/sub_vis_01.png) no-repeat 50% 50% / cover;
            overflow: hidden;
            .text_box {
                position: absolute;
                width: 100%;
                left:vw(30);
                top:50%;
                transform: translate(0,-50%);
                color:#fff;
                h2 {
                    font-size: vw(48);
                    letter-spacing: vw(-2);
                }
                .t1 {
                    font-size: vw(48);
                    font-weight: 300;
                    letter-spacing: vw(5);
                    margin:vw(10) 0 vw(30);
                }
                .t2 {
                    font-size: vw(26);
                    letter-spacing: -1px;
                }
            }
        }
        .customer_center {
            width: 100%;
            padding:0 vw(20);
            margin: 0 auto vw(80);
            .guide_wrap {
                margin-top: vw(80);
                margin-bottom: vw(120);
                li {
                    width: 48%;
                    height: auto;
                    padding-top: vw(227);
                    padding-bottom: vw(30);
                    margin-bottom: 4% !important;
                    &:nth-child(-n + 3) {
                        margin-bottom: 0;
                    }
                    a {
                        text-decoration: none;
                    }
                    .t1 {
                        font-size: vw(25);
                    }
                    .t2 {
                        margin-top: vw(20);
                        font-size: vw(10);
                    }
                    img {
                        width: 50%;
                    }
                }
            }
            .faq_wrap {
                position: relative;
                h2 {
                    font-size: vw(40);
                }
                .qna_list {
                    margin-top: vw(40);
                    padding:vw(40) vw(20);
                    li {
                        margin-bottom: vw(30);
                        &:last-child {
                            margin-bottom: 0;
                        }
                        a {
                            font-size: vw(20);
                            display: block;
                            .category {
                                width: vw(130);
                                & + span {
                                    display: inline-block;
                                    width: 75%;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    &::before {
                                        margin-right: vw(20);
                                    }
                                }
                            }
                            &:hover {
                                &::after {
                                    content: '';
                                    display: block;
                                    width: 100%;
                                    height: 1px;
                                    transform: translateY(5px);
                                    background-color:#777;
                                }
                            }
                        }
                    }
                }
                .link_more {
                    position: absolute;
                    right:0;
                    top:0;
                    display: block;
                    width: vw(52);
                    height: vw(52);
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .inner_tab {
            width: 100%;
            margin-top: vw(50);
            border-bottom: 1px solid #ff6611;
            position: relative;
            text-align: center;
            .selected {
                width: 40%;
                display: inline-block;
                padding: vw(15) vw(40);
                text-align: left;
                font-size: vw(18);
                text-decoration: none;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                color:#fff;
                background: #ff6611 url(../img/ico/ico_down.png) no-repeat 85% 50% / vw(12);
                &.open {
                    background: #ff6611 url(../img/ico/ico_up.png) no-repeat 85% 50% / vw(12);
                }
            }
            ul {
                position: absolute;
                display: none;
                border: 0 solid #000;
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
                background-color: #ff6611;
                &.open {
                    display: block;
                    width: 40%;
                    left: 50%;
                    transform: translateX(-50%);
                }
                li {
                    height: auto;
                    a {
                        display: inline-flex;
                        box-sizing: border-box;
                        vertical-align: top;
                        display: inline-block;
                        padding: vw(15) vw(40);
                        text-align: left;
                        font-size: vw(18);
                        color:#fff;
                        text-decoration: none;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        &:hover {
                            color:#fff;
                            background-color: #ff6611;
                        }
                    }
                    &.active {
                        a {
                            color:#fff;
                            background-color: #ff6611;
                        }
                    }
                }
            }
        }
        .system_cont {
            margin-top: vw(65);
        }
        .faq_list_wrap {
            font-size: vw(18);
            .__head {
                display: flex;
                width: 100%;
                border-bottom: 1px solid #777;
                span {
                    text-align: center;
                    padding:vw(25) 0;
                    box-sizing: border-box;
                }
                .num {
                    width: 10%;
                }
                .category {
                    width: 20%;
                }
                .subject {
                    width: 75%;
                    padding-left: vw(140);
                }
            }
            .faq_list {
                li {
                    .q {
                        background: url(../img/ico/ico_down_qna.png) no-repeat right vw(60) top 50% / vw(12);
                        &.open {
                            background: url(../img/ico/ico_up_qna.png) no-repeat right vw(60) top 50% / vw(12);
                        }
                        span {
                            padding:vw(25) 0;
                        }
                        .num {
                            width: 10%;
                        }
                        .category {
                            width: 20%;
                        }
                        .subject {
                            width: 70%;
                            padding-left: vw(20);
                        }
                    }
                    .a {
                        .inner_text {
                            padding:vw(40);
                        }
                    }
                }
            }
            .paging {
                
            }
        }
        .notice_wrap {
            table {
                th,
                td {
                    padding:vw(15) 0;
                    font-size: vw(16);
                }
                th {
                    &.subject {
                        padding-left: vw(60);
                    }
                }
                td {
                    &.subject {
                        padding-left: vw(20);
                        a {
                            display: block;
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            color:#fff;
                            &:hover {
                                color:#ff6611;
                            }
                        }
                    }
                }
                .num {
                    width: 9%;
                }
                .category {
                    width: 15%;
                }
                .subject {
                    width: auto;
                }
                .date {
                    width: 15%;
                }
                .view {
                    width: 12%;
                }
                
            }
        }
        .paging {
            margin-top: vw(70);
            a {
                padding:vw(10);
                &.num {
                    margin:0;
                    font-size: vw(16);
                }
            }
        }
    }
}