.sub {
    .top_banner {
        max-width: 1920px;
        min-width: 1295px;
        margin:0 auto;
        overflow: hidden;
        position: relative;
        .paging {
            position: absolute;
            bottom:20px;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            z-index: 10;
        }
        .swiper-pagination {
            display: inherit;
            width: auto;
            position: static;
        }
        .swiper-pagination-bullet {
            margin:0 10px;
            width: 16px;
            height: 16px;
            background: url(../img/main/ico_off.png) no-repeat center / 8px;
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            margin:0 10px;
            width: 16px;
            height: 16px;
            background: url(../img/main/ico_on.png) no-repeat 0 0 / 99%;
            opacity: 1;
        }
        .count_num {
            font-size: 13px;
            color:#fff;
            margin-left: 10px;
        }
        .swiper-slide {
            img {
                width: 100%;
            }
        }
    }
    .sub_cont {
        width: 1295px;
        margin:0 auto;
        padding-top: 40px;
        h2 {
            font-size: 40px;
            color:#fff;
            font-weight: 700;
        }
        .star_check {
            width: 19px;
            height: 18px;
            background: url(../img/main/check_star_off.png) no-repeat 50% / 19px;
            &:checked {
                background: url(../img/main/check_star_on.png) no-repeat 50% / 19px;
            }
        }
        .game_list {
            margin-top: 20px;
            ul {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
            }
            li {
                width: calc(100% / 5);
                border: 1px solid #929292;
                position: relative;
                .line{
                    display: block;
                }
                &::before, &::after{
                    content:"";
                    width: 0;
                    height: 7px;
                    position: absolute;
                    background: #ff6611;
                }
                .line::before, .line::after{
                    content:"";
                    width:7px;
                    height:0;
                    position: absolute;
                    background: #ff6611;
                }
                &:hover::before, &:hover::after{
                    transition: all 0.2s linear;
                    transition-delay: 0.2s;
                    width: 100%;
                }
                &:hover .line::before, &:hover .line::after{
                    transition: all 0.2s linear;
                    height: 100%;
                }
                .line::before, .line::after{
                    transition-delay: 0s;
                }
                &::before{
                    right: -1px;
                    top: -1px;
                }
                &::after{
                    left: -1px;
                    bottom: -1px;
                }
                .line::before{
                    left: -1px;
                    top: -1px;
                }
                .line::after{
                    right: -1px;
                    bottom: -1px;
                }
                &:hover::before, &:hover::after{
                    transition-delay: 0s;
                }
                &:hover .line::before, &:hover .line::after{
                    transition-delay: 0.2s;
                }
                .ico {
                    position: absolute;
                    right: 0;
                    top:-14px;
                    img {
                        width: 55px;
                        vertical-align: top;
                    }
                }
                
                .top_box {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    color:#929292;
                    padding:10px 15px;
                    position: relative;
                    z-index: 10;
                    span {
                        margin-left: 10px;
                    }
                }
                .img_box {
                    img {
                        width: 100%;
                    }
                }
                .btm_box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 17px;
                    padding:15px 15px 10px;
                    color:#fff;
                    position: relative;
                    z-index: 10;
                    a {
                        font-size: 11px;
                        line-height: 19px;
                        color:#fff;
                        display: block;
                        text-align: center;
                        width: 41px;
                        height: 22px;
                        text-decoration: none;
                        background: url(../img/main/ico_info_off.png) no-repeat 50% / 41px 22px;
                        &:hover {
                            background: url(../img/main/ico_info_on.png) no-repeat 50% / 41px 22px;
                        }
                    }
                }
            }
        }
        .bookmark_wrap {
            margin: 70px 0;
            h2 {
                margin-bottom: 20px;
                padding-left:25px;
                background: url(../img/ico/ico_h3.png) no-repeat 0 50% / 23px;
            }
            .count_txt {
                text-align: right;
                font-size: 18px;
                color:#fff;
                span {
                    color:#ff6611;
                }
            }
        }
        .recent_games {
            margin: 70px 0;
            h2 {
                margin-bottom: 20px;
                padding-left:25px;
                background: url(../img/ico/ico_h3.png) no-repeat 0 50% / 23px;
            }
            .game_list {
                margin-top: 40px;
            }
            .game_wrap {
                position: relative;
                h3 {
                    display: inline-block;
                    margin-top: 70px;
                    background-color: #ff6611;
                    border-radius: 24px;
                    padding:15px 35px;
                    color:#fff;
                    font-size: 22px;
                }
                .link_more {
                    position: absolute;
                    right:0;
                    top:65px;
                }
            }
        }
    }
    .search_box {
        width: 380px;
        margin:55px auto 0;
        position: relative;
        input {
            width: 100%;
            background-color: transparent;
            padding:15px 20px;
            border-bottom: 1px solid #fff;
            font-size: 18px;
            color:#fff;
            &::placeholder {
                color:#fff;
            }
        }
        button {
            background-color: transparent;
            border: 0 solid #000;
            position: absolute;
            right:0;
            top:0px;
            display: block;
            width: 50px;
            height: 51px;
            background: url(../img/ico/ico_search.png) no-repeat 50% 50%;
            cursor: pointer;
        }
    }
    .tab_menu {
        width: 100%;
        border-bottom: 1px solid #777;
        margin-top: 60px;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                width: 140px;
                font-size: 18px;
                position: relative;
                a {
                    display: block;
                    text-align: center;
                    padding:30px 0;
                    color:#fff;
                    &:hover {
                        text-decoration: none;
                        color:#ff6611;
                        &::after {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 2px;
                            background-color: #ff6611;
                            position: absolute;
                            left: 0;
                            bottom:-1px;
                        }
                    }
                }
                &.active {
                    a {
                        color:#ff6611;
                        &::after {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 2px;
                            background-color: #ff6611;
                            position: absolute;
                            left: 0;
                            bottom:-1px;
                        }
                    } 
                }
            }
        }
    }
    .top_visual {
        width: 100%;
        height: 440px;
        position: relative;
        background: url(../img/sub/sub_vis_01.png) no-repeat 50% 50%;
        img {
            width: 100%;
            height: 440px;
        }
        .text_box {
            position: absolute;
            left:35%;
            top:50%;
            transform: translate(-50%,-50%);
            color:#fff;
            h2 {
                font-size: 40px;
                font-weight: 700;
                letter-spacing: -2px;
            }
            .t1 {
                font-size: 40px;
                font-weight: 300;
                letter-spacing: 10px;
                margin:10px 0 30px;
            }
            .t2 {
                font-size: 26px;
            }
        }
    }
}

@include mobile {
    .sub {
        .top_banner {
            width: 100%;
            min-width: 100%;
            margin:0 auto;
            overflow: hidden;
            position: relative;
            .paging {
                display: none;
            }
            .swiper-slide {
                img {
                    width: 100%;
                }
            }
        }
        .sub_cont {
            width: 100%;
            margin:0 auto;
            padding-top: vw(20);
            h2 {
                font-size: vw(40);
            }
            .game_list {
                margin-top: vw(20);
                ul {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                }
                li {
                    width: 48%;
                    margin-bottom: 4%;
                    border: 1px solid #929292;
                    position: relative;
                    
                    .ico {
                        position: absolute;
                        right: 0;
                        top:vw(-14);
                        img {
                            width: vw(55);
                        }
                    }
                    .top_box {
                        font-size: vw(14);
                        padding:vw(10) vw(15);
                        span {
                            margin-left: vw(10);
                        }
                    }
                    .img_box {
                        img {
                            width: 100%;
                        }
                    }
                    .btm_box {
                        font-size: vw(17);
                        padding:vw(15) vw(15) vw(10);
                        a {
                            font-size: vw(11);
                            line-height: vw(19);
                            width: vw(41);
                            height: vw(22);
                            background: url(../img/main/ico_info_off.png) no-repeat 50% / vw(41) vw(22);
                            &:hover {
                                background: url(../img/main/ico_info_on.png) no-repeat 50% / vw(41) vw(22);
                            }
                        }
                    }
                }
            }
            .bookmark_wrap {
                margin: vw(20) 0;
                padding:vw(40);
                h2 {
                    padding-left:vw(25);
                    background: url(../img/ico/ico_h3.png) no-repeat 0 50% / vw(23);
                }
                .count_txt {
                    font-size: vw(18);
                }
                .game_wrap {
                    .link_more {
                        position: absolute;
                        right:0;
                        top:vw(75);
                        width: vw(52);
                        height: vw(52);
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .recent_games {
                margin: vw(50) 0;
                padding:0 vw(45);
                h2 {
                    margin-bottom: vw(20);
                    padding-left:vw(25);
                    background: url(../img/ico/ico_h3.png) no-repeat 0 50% / vw(23);
                }
                .game_list {
                    margin-top: vw(40);
                }
                .game_wrap {
                    position: relative;
                    h3 {
                        margin-top: vw(70);
                        padding:vw(15) vw(35);
                        font-size: vw(22);
                    }
                    .link_more {
                        position: absolute;
                        right:0;
                        top:vw(75);
                        width: vw(52);
                        height: vw(52);
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .search_box {
            width: 70%;
            margin:vw(55) auto 0;
            input {
                width: 100%;
                padding:vw(15) vw(20);
                font-size: vw(18);
            }
            button {
                width: vw(50);
                height: vw(51);
                background: url(../img/ico/ico_search.png) no-repeat 50% 50% / vw(20);
            }
        }
        .tab_menu {
            width: 100%;
            padding:0 vw(35);
            border-bottom: 0 solid #777;
            margin-top: vw(60);
            position: relative;
            &::after {
                content: '';
                display: block;
                width: 200%;
                height: 1px;
                background-color: #777;
                position: absolute;
                left:-50%;
                bottom:0;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                li {
                    border-bottom: 1px solid #777;
                    width: 30%;
                    font-size: vw(18);
                    position: relative;
                    &::after {
                        content: '';
                        display: block;
                        width: 200%;
                        height: 1px;
                        background-color: #777;
                        position: absolute;
                        left:-50%;
                        bottom:-1px;
                        z-index: -1;
                    }
                    &:nth-child(3n + 2) {
                        margin:0 5%;
                    }
                    a {
                        display: block;
                        text-align: center;
                        padding:vw(30) 0;
                        color:#fff;
                        &:hover {
                            text-decoration: none;
                            color:#ff6611;
                            &::after {
                                content: '';
                                display: block;
                                width: 100%;
                                height: 2px;
                                background-color: #ff6611;
                                position: absolute;
                                left: 0;
                                bottom:-1px;
                                z-index: 2;
                            }
                        }
                    }
                    &.active {
                        a {
                            color:#ff6611;
                            font-weight: 700;
                            &::after {
                                content: '';
                                display: block;
                                width: 100%;
                                height: 2px;
                                background-color: #ff6611;
                                position: absolute;
                                left: 0;
                                bottom:-1px;
                                z-index: 2;
                            }
                        } 
                    }
                }
            }
        } 
    }
}